<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<head>
    <title>Submit your {{typeId}}</title>
</head>
    <body style="width: 1000; height: 1000;">
        <span>Submit new {{typeId}}:</span>
        <form action="{{ url_for('submit', id = typeId)}}" method="POST">
            <div>Title: <input type="text" name="title" placeholder="No punctuation"></div>
            <div>
                <textarea rows="20" cols="50" id="{{typeId}}1" name="{{typeId}}" placeholder="Your {{typeId}} here..."></textarea> 
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
    </body>
</html>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("{{typeId}}1") });
</script>
